<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/main.css" />

    <title>Hello, world!</title>
  </head>
  <body>
    
    <%- include('nav.html') %>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input" />
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>

    <div class="container mt-4">
      <ul class="list-group">
        <% for (let i = 0; i < posts.length; i++) { %>
          <div class="list-group-item">
            <a href="/detail/<%=posts[i]._id%>">
              <p>글번호: <%= posts[i]._id %></p>
              <h4>할 일 제목 : <%= posts[i].제목 %></h4>
              <p>할 일 마감 날짜 : <%= posts[i].날짜 %></p>
            </a>
            <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
          </div>
        <% } %>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <script>
      $('.delete').click(function(e) {
        let postNum = e.target.dataset.id; // 지금 클릭한 것
        let postTarget = $(this); // 지금 이벤트 동작하는 곳
        
        $.ajax({
        method: 'DELETE',
        url: '/delete',
        data: {_id: postNum}
        }).done(function(result) {
          // 요청 성공시 실행
          postTarget.parent('li').fadeOut();
        }).fail(function(xhr, textStatus, errorThrown) {
          // 요청 실패시 실행
          console.log(xhr, textStatus, errorThrown);
        });
      });

      // 검색
      // Query string 작성해서 GET 요청
      $('#search').click(function() {
        let 입력한값 = $('#search-input').val();
        window.location.replace('/search?value=' + 입력한값);
      });
    </script>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>